.table{
    
}

table{
    color: floralwhite;
    width: 50%;
    border: 2px solid black ;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: black;
    border-spacing: 30px;
}


